fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.7.1
motor==3.6.1
pymongo==4.9.2
python-multipart==0.0.20
pandas
numpy==2.2.2
scikit-learn==1.6.1
shap==0.46.0
openai==1.60.2
firebase-admin==6.6.0
